
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css');

// Variables
@import 'variables';

// Bootstrap
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css';

// @import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4';
@import '~fullcalendar/dist/fullcalendar';

// @import url('https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css');

.navbar-laravel {
  background-color: #005aa4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
